body{
	margin:auto;
}
header{
	width: 100%;
	height: 10%;
	min-height: 50px;
	background-color: black;
	position: fixed;

}
a{
	text-decoration: none;
	color: gainsboro;
}
li{
	list-style: none;
}
ul{
	width: 100%;
}
#divCabecalho{
	display: flex;
	flex-wrap: wrap;
}
.contentCabecalho{
	
	display: flex;
	flex-wrap: wrap;
}
.opCabecalho{
	width: 40%;
	padding: 2%;

}
#opsDrone{
	visibility: hidden;
	height: 0px;
}
#droneCabecalho:hover #opsDrone{
	visibility: visible;
	width: 100%;
	height: auto;
	margin-bottom: -1;
	padding-top: 2px;
}
