.opDivLaterarl{
	width: 100%;
	height: 50px;
	background-color:green;
	text-align: center;
	border: solid white 1px;
}
#divMenuLateral{
	display: inline;
	text-align: center;
	border:solid green 1px;
}
#divMenuLateral a{
	text-decoration:none;
	color: white;
}
.opDivLaterarl:hover{
	background-color: #f1f1f1;
	color:darkgreen;
	border: solid darkgreen 1px;
}
#btnsCL1{
	text-align: center;
	position: absolute;
	width: 49%;
	height: 20px;
	left: 0px;
	border-top-right-radius: 50px;
}
.btnsCL{
	
	border: darkgreen solid 1px; 
} 
#btnsCL2{
	border-bottom-left-radius: 50px;
	text-align: center;
	position: absolute;
	width: 49%;
	height: 20px;
	right:  0px;
}
.btnsCL:hover{
	background-color: green;
	color: white;
}

