div{

}
a{
	text-decoration: none;

}
#divCad{
	color: white;
}
#divCabecalho{
	border-left: solid black 2px;
	border-top : solid black 2px;
}
#divCabecalho{
	position: fixed;
	background-color: black;
	width: 100%;
	height: 50px;
	right: 0px;
	
}
#divMenuSuperior{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;

}
#home{
	position: absolute;
	top: 0px;
	left: 10%;
	border-top: solid black 1px;
	z-index: 1;
	color: white;
	font-size: 25px;
	padding-top: 10px;
}
#divUser{
	position: absolute;
	right: 0px;
	width: 100%;
	height: 50px;
	background-color: black;
	text-align: center;
	font-size: 20px;
	color: white;
	

}
#divCad:hover{
	background-color: lightgray;
	border:solid white 1px;
	color: black;
}
#divCad{
	position: absolute;
	left: 0px;
	width: 70%;
	height: 100%;
}
#divLogin:hover{
	background-color: lightgray;
	border:solid white 1px;
	color: black;
}
#divLogin{
	position: absolute;
	right: 0px;
	width: 30%;
	height: 100%;
	color: white;
}
#divNomeUser{
	position: absolute;
	left: 0px;
	width: 70%;
	height: 100%;
}
#opUser{
	position: absolute;
	right: 0px;
	width: 10%;
	height: 100%;
}
#btnMenuUser{
	position: absolute;
	right: 0px;
	width: 100%;
	height: 100%;
}
#divOpUser{
	position: absolute;
	right: 0px;
	height: 50px;
	width: 30px;
}
#userOps{
	right: 0px;
	width: 50px;
}
.opMenuSuperior{
	position: absolute;
	width: 20%;
	height: 100%;
}
.opMenuSuperior:hover{
	background-color: red;
	position: absolute;
}
#opDrone{
	right: 40%;
	display: inline-block;
}
#opRotas{
	right: 20%;
}
#usuarioMenuSuperior{
	right: 0%;
}
.teste{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}
.teste a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.teste a:hover {
	background-color: #f1f1f1;
}
.opMenuSuperior:hover .teste {
    display: block;
}
.btnDivs {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.opMenuSuperior:hover .btnDivs {
    background-color: white;
    color: black;
}

