header{
	position: fixed;
}
#principal{
	background-size: cover;
	background-image: url(../images/frameDrone.jpg);
	min-height: 600px;
	height: 100%;
	width: 100%;
	left: 0px;
	
	
}
img{
	width: 100%;
	height: 100%;
}
.images{
	background-size: cover;
	position: relative;
	padding: 5px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	display: block;
	}
#divItensBox{
	display: flex;
	align-items: center;
	min-height: 600px;
	flex-wrap: wrap;
	
}
.itensBoxIndex{
	position: relative;
	padding:2em;
	min-width: 200px;
	max-width: 33.333333%;
	height: 200px;
	width: 100%;
}
.blocosSuperiores{
	width: 33%;
	height: 33%;
	min-width: 250px;
	min-height: 250px;
	max-height: 350px;
	max-width: 350px;
}
.blocosSuperiores:hover{
	width: 30%;
	height: 30%;
}
