html{
	height: 100%;
}
header{
	position: fixed;
	z-index: 1;
}
body{
	width: -moz-available;
	margin: 0;
	height: inherit;

}
footer{
	width: -moz-available;
	height: auto;

}
.container{
	padding: 2%;
}

#corpoIndex{
	background-size: cover;
	background-image: url(../images/big_image_1.jpg);
	min-height: -moz-available;
	height: 100%;
	width: 100%;

	
}

#divItensBox{
	display: flex;
	padding-top: 5em ;
	width: 100%;
	height: 100%;
	margin-top: 20%;
	flex-wrap: wrap;
	
}
img{
	width: 100%;
	height: 100%;
}
.images{
	background-size: cover;
	position: relative;
	width: 250px;
	height: 250px;
	background-repeat: no-repeat;
	display: block;
	}

.itensBoxIndex{
	position: relative;
	padding:2%;
	min-width: 200px;
	max-width: 33.333333%;
	min-height: 200px;
	max-height: 300px;
	width: 29%;
}
.images:hover{
	width: 300px;
	height: 300px;
}
#footer{
	display: flex;
	flex-wrap: wrap;

}
.divsFooter{
	
	width: 33%;
	min-width: 200px;

}
#fb{
	background-image: url(../images/icons/facebook.png);
	width: 30px;
	height: 30px;
	background-size: cover;
	padding: 5px;
}
#tw{
	background-image: url(../images/icons/twitter.png);
	width: 30px;
	height: 30px;
	background-size: cover;
	padding: 5px;
}
#inst{
	background-image: url(../images/icons/instagram.png);
	width: 30px;
	height: 30px;
	background-size: cover;
	padding: 5px;
}