#principal{
	position: relative;
}
#cabecalho{
	width: 100%;
	height: 100px;
	position: absolute;
}
#lateral{
	width: 20%;
	top: 100px;
	left: 0px;
	position: absolute;
}
#corpo{
	width: 80%;
	top: 100px;
	right: 0px;
	position: absolute;
}
#divInfo{
	width: 30%;
	top: 10%;
	height: 200px;
	left: 35%;
	position: absolute;
}