.tr1{
	background-color:gray; 
}
.tr0{
	background-color:lightgray
}
.in{
	background-color:gray; 
}
.par{
	background-color:lightgray
}

thead{
	background-color: darkgray;
	color: white;
}
table{
	border:solid darkgray 2px;
	width: 100%;
}