ul{
	list-style: none;
}
#principal{
	position: absolute;
	padding: 2em;
	top:55px;
}
#menuLateral{
	position: absolute;
	width: 20%;
	height: 100%;
	min-width: 150px;
	top: 50px;

}
#video{
	min-height: 200px;
	min-width: 320px;
	width: 75%;
	height:auto;
	background-color: black;
}
#estatistc{
	min-height:20%;
	height: 35%;
	bottom: 0px;
	background-color: #E2E4FF;
	width: 100%;
	padding-top: 20px;

}
#info{
	width: 25%;
	height: auto;
	background-color: #E2E4FF;

}
